{#
(C) Copyright 2011 Jose Carrasco <jose.carrasco at vikuit dot com>

This file is part of "vikuit".

"vikuit" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"vikuit" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "vikuit".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}

{% block head %}
	<link rel="alternate" type="application/rss+xml" title="{{ _('Latest articles') }}" href="/feed/" />
	<meta name="description" content="{{ _('Social network with content, communities, forums...') }}" />
	<meta name="keywords" content="{{ _('social network, vikuit') }}" />

{% endblock %}
{% block title %} 

{% endblock %}
{% block leftSidebar %}
	{% include 'vikuitlets/nanoblogging/nanoblogging.html' %}
	{% include 'vikuitlets/most-active-communities/most-active-communities.html' %}	
	{% include 'vikuitlets/rss/rss.html' %}	
		
	
{% endblock %}
{% block rightSidebar %}
	{% include 'vikuitlets/translator/translator.html' %}
	{% include 'vikuitlets/user/user.html' %}	
	{% include 'vikuitlets/action/action.html' %}
	{% include 'vikuitlets/tag-cloud/tag-cloud.html' %}
	
		 
{% endblock %}

{% block content %}

{% endblock %}
