{#
(C) Copyright 2011 Jose Blanco <jose.blanco[a]vikuit.com>
(C) Copyright 2011 Jose Carrasco <jose.carrasco[a]vikuit.com>

This file is part of "vikuit".

"vikuit" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"vikuit" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "vikuit".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "module/admin/layout/layout.html" %}

{% block title %} {{ _('Application configuration') }} {% endblock %}

{% block content %}
	<div class="info">
		<h1>{{ _('Application configuration') }}</h1>
	
	</div>
	
	{% if m %}
		<p class="message">{{ m|escape }}</p>
	{% endif %}

	<form action="/module/admin.application" method="post" accept-charset="utf-8" enctype="multipart/form-data">
		<input type="hidden" name="auth" value="{{ auth }}" />
		<div class="form">
			<p>
				<label for="appName">{{ _('Application Name') }}</label>
				<input id="appName" type="text" name="appName" value="{{ appName|escape }}" style="width: 250px" /> Ej: Vikuit
			</p>
			<p>
				<label for="appSubject">{{ _('Application subject or slogan') }}</label>
				<input id="appSubject" type="text" name="appSubject" value="{{ appSubject|escape }}" style="width: 250px" /> Ej: On a mountain top with a radio and good batteries to keep you awake!!
			</p>
			<p>
				<label for="locale">{{ _('Language') }}</label>
				<select id="locale" name="locale">
					<option value="en"{% if locale == 'en' %} selected="selected"{% endif %}>English</option>
					<option value="es"{% if locale == 'es' %} selected="selected"{% endif %}>Espa&ntilde;ol</option>
				</select> <i>*{{ _('Language per instance') }}</i>
			</p>
					
			<p>
				<label for="url">{{ _('URL') }}</label>
				<input id="url" type="text" name="url" value="{{ url|escape }}" style="width: 250px" /> Ej: http://example.com
			</p>
			
		</div>
	
		<p><input type="submit" value="{{ _('Save changes') }}" /></p>
	</form>

{% endblock %}