{#
 (C) Copyright 2011 Jose Blanco <jose.blanco[a]vikuit.com>
 
 This file is part of "vikuit".
 
 "vikuit" is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 "vikuit" is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.
 
 You should have received a copy of the GNU Affero General Public License
 along with "vikuit".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "module/admin/layout/layout.html" %}

{% block title %} {{ _('Users administration') }} {% endblock %}

{% block content %}
	<div class="info">
		<h1>{{ _('Users administration') }}</h1>
	</div>
	
	{% if m %}
		{% if arg %}
			<p class="message">{{ _(m)|format(arg) }}</p>
		{% else %}
			<p class="message">{{ _(m|escape) }}</p>
		{% endif %}
	{% endif %}

	<form action="/module/admin.users" method="post" accept-charset="utf-8">
		<input type="hidden" name="auth" value="{{ auth }}" />
		<div class="form">
			<p>
				<label>{{ _('Action') }}</label>
				<select name="action">
					<option value="block_user">{{ _('Lock user') }}</option>
					<option value="unblock_user">{{ _('Unlock user') }}</optiom>
				</select>
			</p>
			<p>
				<label for="url">{{ _('User\'s nickname') }}</label>
				<input id="url" type="text" name="nickname" style="width: 250px" />
			</p>

		</div>
	
		<p><input type="submit" value="{{ _('Send') }}" /></p>
	</form>

{% endblock %}