{#
(C) Copyright 2011 Jose Blanco <jose.blanco[a]vikuit.com>

This file is part of "vikuit".

"vikuit" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"vikuit" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "vikuit".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "layouts/module-layout.html" %}

{% block title %} {{ _('Administration') }} {% endblock %}

{% block content %}
	
	<h1>{{ _('Administration') }}</h1>

	<ul>
	    <li><strong><a href="/module/admin.application">{{ _('Configure application') }}</a></strong></li>
		<li><strong><a href="/module/community.add.related">{{ _('Bind community') }}</a></strong></li>
		<li><strong><a href="/module/admin.categories">{{ _('Administrate categories') }}</a></strong></li>
		<li><strong><a href="/module/admin.users">{{ _('Administrate users') }}</a></strong></li>
		<li><strong><a href="/module/admin.cache">{{ _('Manage cache') }}</a></strong></li>
	</ul>

	Vikuit. Version: {% if app.version %}{{ app.version}} - {% endif %}
{% endblock %}