{#
(C) Copyright 2011 Jose Blanco <jose.blanco[a]vikuit.com>
(C) Copyright 2011 Jose Carrasco <jose.carrasco[a]vikuit.com>

This file is part of "vikuit".

"vikuit" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"vikuit" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "vikuit".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "module/admin/layout/layout.html" %}

{% block title %} {{ _('Configure modules') }} {% endblock %}

{% block content %}
	<div class="info">
		<h1>{{ _('Configure modules') }}</h1>
	</div>
	
	{% if m %}
		<p class="message">{{ m|escape }}</p>
	{% endif %}
	
	<p class="message">Work in progress. Will be ready for 0.9</p>
{#
	<form action="/module/admin.modules" method="post" accept-charset="utf-8" enctype="multipart/form-data">
		<input type="hidden" name="auth" value="{{ auth }}" />
		<div class="form">
			<p>
				<label for="userDirectory">{{ _('Users') }}</label>
				<input type="checkbox" name="option2" value="userDirectory" {% if userDirectory == 'true' %} checked{% endif %} />
				<label for="microblogging">{{ _('Microblogging') }}</label>
				<input type="checkbox" name="option2" value="microblogging" {% if microblogging == 'true' %} checked{% endif %} />
			</p>				
		</div>
		<p><input type="submit" value="{{ _('Save changes') }}" /></p>
	</form>
#}
{% endblock %}