{#
(C) Copyright 2011 Jose Carrasco <jose.carrasco[a]vikuit.com>

This file is part of "vikuit".

"vikuit" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"vikuit" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "vikuit".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "includes/vikuitlet/base.html" %}
 
{% block vikuitlet_title %} 
	{{ _('Translator') }} 
{% endblock %} 
{% block css %} 
	 <style> 
  	  .goog-logo-link { 
        display:none 
      } 
      .goog-te-gadget  { 
        font-size:0px
      } 
    </style>
{% endblock %} 
{% block vikuitlet_content %}

	<div id="google_translate_element"></div>
 
{% endblock %}  

		
{% block javascript %}
 
 <script>
function googleTranslateElementInit() {
  new google.translate.TranslateElement({
    pageLanguage: '{% if app.locale %}{{ app.locale }}{% endif %}'
  }, 'google_translate_element');
}
</script><script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
 
{% endblock %}