/*
 (C) Copyright 2011 Jose Carrasco <jose.carrasco[a]vikuit.com>
 (C) Copyright 2011 Jose Blanco <jose.blanco[a]vikuit.com>
 
 This file is part of "vikuit".
 
 "vikuit" is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 "vikuit" is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.
 
 You should have received a copy of the GNU Affero General Public License
 along with "vikuit".  If not, see <http://www.gnu.org/licenses/>.
*/

html { overflow-y: scroll; overflow-x: auto; }

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

#item img {
	max-width: 700px;
}

.comment img { 
	max-width: 440px;
}

img.icon {
	vertical-align: middle;
}


div.form p {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #777;
}

div.form label {
	display: block
}

pre {
	overflow: auto;
}

/* display the individual items next to each other, not one-per-line */
.tag-cloud { margin:0; padding:10px; text-align: center }
.tag-cloud li { display: inline; margin:0; padding:0; }
/* hide the extra context from CSS-enabled browsers, but not screenreaders */
.tag-cloud span { position: absolute; left: -999px; width: 990px; }
/* size is purely presentational, based upon the class */
.tag-cloud .size1 { font-size: 1em }
.tag-cloud .size2 { font-size: 1.3em }
.tag-cloud .size3 { font-size: 1.6em }
.tag-cloud .size4 { font-size: 1.9em }
.tag-cloud .size5 { font-size: 2.2em }
.tag-cloud .size6 { font-size: 2.5em }

.tag-cloud .size1 a { color: #265e70 }
.tag-cloud .size2 a { color: #3e91c1 }
.tag-cloud .size3 a { color: #92c64d }
.tag-cloud .size4 a { color: #ff9d00 }
.tag-cloud .size5 a { color: #ff6314 }
.tag-cloud .size6 a { color: #ad0000 }

span.highlight {
	background-color: #ffa;
	color: black;
	position: static; /* to avoid tags in tag cloud to be hidden*/
}

#markdown_example {
	width:100%;
	height:400px;
}

#markdown_toolbar {
	position:relative;
	list-style:none;
	border:1px solid #d7d7d7;
	background-color:#F6F6F6;
	margin:0;
	padding:0;
	height:17px;
	margin-bottom:2px;
}

#markdown_toolbar li {
	list-style:none;
	margin:0;
	padding:0;
	float:left;
}

#markdown_toolbar li a {
	width:24px;
	height:16px;
	float:left;
	display:block;
	background-image:url("/static/images/markdown_icons.gif");
	border:1px solid #fff;
	border-right-color:#d7d7d7;
}

#markdown_toolbar li a:hover {
	border-color:#900;
}

#markdown_toolbar li span {
	display:none;
}

#markdown_toolbar li a#markdown_help_button {
	position:absolute;
	top:0;
	right:0;
	border-left-color:#d7d7d7;
	border-right-color:#fff;
}

#markdown_toolbar li a#markdown_help_button:hover {
	border-left-color:#900;
	border-right-color:#900;
}

#markdown_italics_button { background-position: 0 -119px; }
#markdown_bold_button { background-position: 0 -102px; }
#markdown_link_button { background-position: 0 0; }
#markdown_image_button { background-position: 0 -170px; }
#markdown_unordered_list_button { background-position: 0 -34px; }
#markdown_ordered_list_button { background-position: 0 -51px; }
#markdown_quote_button { background-position: 0 -68px; }
#markdown_code_button { background-position: 0 -136px; }
#markdown_help_button { background-position: 0 -153px; }
#markdown_heading_button { background-position: 0 -85px; }
#markdown_media_button { background-position: 0 -306px; }




.rating {
width:80px;
height:16px;
margin:0 0 20px 0;
padding:0;
list-style:none;
clear:both;
position:relative;
background:url(/static/images/star-matrix.gif) no-repeat scroll 0 0;
}
.star0 {background-position:0 0;}
.star1 {background-position:0 -16px;}
.star2 {background-position:0 -32px;}
.star3 {background-position:0 -48px;}
.star4 {background-position:0 -64px;}
.star5 {background-position:0 -80px;}
ul.rating li {
cursor:pointer;
float:left;
text-indent:-999em;
}
ul.rating li a {
height:16px;
left:0;
position:absolute;
text-decoration:none;
top:0;
width:16px;
z-index:200;
}
ul.rating li.one a {left:0;}
ul.rating li.two a {left:16px;}
ul.rating li.three a {left:32px;}
ul.rating li.four a {left:48px;}
ul.rating li.five a {left:64px;}
ul.rating li a:hover {
background:url(/static/images/star-matrix.gif) no-repeat scroll 0 0;
height:16px;
left:0;
overflow:hidden;
width:80px;
z-index:2;
}
ul.rating li.one a:hover {background-position:0 -96px;}
ul.rating li.two a:hover {background-position:0 -112px;}
ul.rating li.three a:hover {background-position:0 -128px;}
ul.rating li.four a:hover {background-position:0 -144px;}
ul.rating li.five a:hover {background-position:0 -160px;}

.LV_validation_message{
	font-weight:bold;
	margin:0 0 0 5px;
}

.LV_valid {
	color:#00CC00;
	display: none;
}

.LV_invalid {
	color:#CC0000;
}

.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
	/* border: 1px solid #00CC00; */
}

.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
	border: 1px solid #CC0000;
}

.info_box, .success_box, .warning_box, .error_box, .validation_box {  
	border: 1px solid;  
	margin: 0px 0px 10px 0px;  
	padding:15px 10px 15px 50px;  
	background-repeat: no-repeat;  
	background-position: 10px center;  
}  
.info_box {  
	color: #00529B;  
	background-color: #BDE5F8;  
	background-image: url(/static/images/info.png);  
}  
.success_box {  
	color: #4F8A10;  
	background-color: #DFF2BF;  
	background-image:url(/static/images/success.png);  
}  
.warning_box {  
	 color: #9F6000;  
	 background-color: #FEEFB3;  
	 background-image: url(/static/images/warning.png);  
}  
.error_box {  
	 color: #D8000C;  
	 background-color: #FFBABA;  
	 background-image: url(/static/images/error.png);  
}
