{#
(C) Copyright 2013 Vikuit

This file is part of "vikuit".

"vikuit" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"vikuit" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "vikuit".  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "base.html" %}
{% block layout %} 
 
      
<!-- modal forms -->		 		
{% include 'vikuitlets/login/login.html' %}

 <div class="frame">
      <div id="menu" class="menu nav-collapse collapse width">
        <div class="collapse-inner">
          <div class="navbar navbar-inverse">
            <div class="navbar-inner">
              Menu
            </div>
          </div>
          	<form class="navbar-search pull-right">
							<input type="text" class="search-query animated" placeholder="Search"> <i class="icon-search"></i>
			</form>
          <ul class="nav nav-tabs  nav-stacked">
             {% set navigation_bar = [
	   				('/module/article.list', 'article', _('Articles')),
	   				('/module/community.list', 'community', _('Communities')),
	   				('/forum.list', 'forum', _('Forums')),
	 				('/module/user.list', 'userDirectory', _('Users'))
 				] %}
            	{% for href, id, caption in navigation_bar %}
					{% if  href == tab %}
					  	<li class="active"><a href="#">{{ caption}}</a></li>
					{% else %}
						<li><a href="{{ href|e }}">{{ caption }}</a></li>
					{% endif %}
				{% endfor %}        
        <li>
            <a href="#">Sample menu</a><span>3</span>
            <ul>
                <li><a href="sample.html">Sample item 1</a></li>
                <li><a href="sample.html">Sample item 2</a></li>
                <li><a href="sample.html">Sample item 3</a></li>
            </ul>
        </li>
     
          </ul>
        </div>
      </div>
      <div class="view">
      <!-- top -->
		{% include 'themes/'+app.theme+'/top.html' %}
        <div id="content">
        
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>





	  {% block javascript %}{% endblock %}
{% endblock %}