{#
(C) Copyright 2011 Jose Blanco <jose.blanco[a]vikuit.com>

This file is part of "vikuit".

"vikuit" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"vikuit" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "vikuit".  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "layouts/module-layout.html" %}
{% block title %}
	{{ _('Reset password') }}
{% endblock %}

{% block content %}
	<h1>{{ _('URL Incorrect') }}</h1>
	
		<p>{{ _('Unable to reset password, maybe link address is incorrect.') }}</p>
		
		<p>{{ _('Please, try to copy and paste it in the navigation bar of your browser') }}</p>
		
{% endblock %}