{#
(C) Copyright 2011 Jose Blanco <jose.blanco[a]vikuit.com>

This file is part of "vikuit".

"vikuit" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"vikuit" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "vikuit".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "layouts/module-layout.html" %}
{% block title %}
	{{ _('Sent mail') }}
{% endblock %}

{% block content %}
	<h1>{{ _('Sent mail') }}</h1>
	<div class="center">
	<p>{{ _('We sent you a mail to <strong>%s</strong>. Click in the attached link to change your password.')|format(email|escape) }}</p>
	<p><a href="{{ redirect_to }}">{{ _('Continue') }} >></a></p>
	</div>
{% endblock %}