{#
(C) Copyright 2011 Jose Blanco <jose.blanco[a]vikuit.com>

This file is part of "vikuit".

"vikuit" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"vikuit" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "vikuit".  If not, see <http://www.gnu.org/licenses/>.
#}
<div class="box">
	<h1>{{ _('Latest articles') }}</h1>
	<ul>
	{% for article in articles %}
		<li>
			<strong><a href="/module/article/{{ article.url_path }}">{{ article.title|escape }}</a></strong> <br/>
			<span class="info">por <a href="/module/user/{{ article.author_nickname }}">{{ article.author_nickname }}</a></span>
		</li>
	{% endfor %}
	</ul>
	<p style="text-align:right"><strong><a href="/module/article.list">{{ _('Check all') }} »</a></strong></p>
	<p class="end-box">&nbsp;</p>
</div>