{#
(C) Copyright 2011 Jose Carrasco <jose.carrasco[a]vikuit.com>
(C) Copyright 2011 Jose Blanco <jose.blanco[a]vikuit.com>

This file is part of "vikuit".

"vikuit" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"vikuit" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "vikuit".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}

{% block title %} {{ _('Articles tagged as') }} "{{ tag|escape }}" {% endblock %}

{% block head %}
	<link rel="alternate" type="application/rss+xml" title="{{ _('Articles tagged as') }} {{ tag|escape }}" href="/feed/tag/{{ tag|escape }}" />
{% endblock %}

{% block rightSidebar %}
	{% include 'vikuitlets/tag-cloud/tag-cloud.html' %}
	<div class="box">
		<div class="vk_title">{{ _('RSS') }}</div>
		<ul><li><a href="/feed/tag/{{ tag|escape }}"><img src="/static/images/feed.png" alt="feed" class="icon" /> {{ _('Articles tagged as') }} {{ tag|escape }}</a></li></ul>
	</div>
{% endblock %}

{% block content %}
	<h1>{{ _('Articles tagged as') }} "<em>{{ tag|escape }}</em>"</h1>
{% include 'inc-article-list.html' %}

<div class="clear">&nbsp;</div>
{% endblock %}