{#
(C) Copyright 2011 Jose Carrasco <jose.carrasco[a]vikuit.com>

This file is part of "vikuit".

"vikuit" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"vikuit" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "vikuit".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "includes/vikuitlet/base.html" %}
  
{% block vikuitlet_title %} 
{{ _('Actions') }}
{% endblock %}

{% block vikuitlet_content %}
 
	<form>
		<ul>
			<li><strong><a href="/module/article.edit"><img src="/static/images/page_white_edit.png" alt="" class="icon" /> {{ _('New article') }}</a></strong></li>
			<li><a id="drafts" href="/module/user.drafts"><img src="/static/images/page_white_text.png" alt="" class="icon" /> {{ _('Drafts') }} ({{ user.draft_articles }})</a></li>
			<li><a href="/module/community.edit"><img src="/static/images/community.png" alt="" class="icon" /> {{ _('New community') }}</a></li>
		</ul>
	</form>
 
{% endblock %}

{% block javascript %}
 
{% endblock %}
