{#
(C) Copyright 2011 Jose Carrasco <jose.carrasco at vikuit dot com>
(C) Copyright 2011 Jose Blanco <jose.blanco[a]vikuit.com>

This file is part of "vikuit".

"vikuit" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"vikuit" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "vikuit".  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "layouts/module-layout.html" %}
{% block title %}
	{{ _('Unsubscribe') }}
{% endblock %}

{% block content %}
	<h1>{{ _('Unsubscribe') }}</h1>
	
	<form action="/module/article.comment.subscribe" method="post" accept-charset="utf-8">
		<input type="hidden" name="auth" value="{{ auth }}" />
		<input type="hidden" name="key" value="{{ article.key() }}" />
		
		
		<div class="form">
			<p class="center">
				{{ _('Unsubscribe from receive comments of <br/><strong>%s</strong> article')|format(article.title|escape) }}?
			</p>
			
			<p class="center">
				<input type="submit" value="{{ _('Yes, unsubscribe') }}" />
				o <strong><a href="/module/article/{{ article.url_path }}">{{ _('Cancel') }}</a></strong>
			</p>
		</div>
	</form>
{% endblock %}